<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  
    <div><h1>Who we are.... ?</h1></div>
    

    <p style="margin-left: 90px;"> <b>“Fitness-53” is Founded by national sportsman and famous body builder and proffessional trainer – Lingam E,
       “Fitness53” is an innovative, state-of-the-art Gym and Fitness Facility fully equipped with new 
       and improved high tolerance machines specifically designed to cater to your every fitness need.
       Standing at over 12,000 square feet and ideally located in Providence just a few buildings off the main access road, 
       this fitness facility offers multiple fitness programmes</b>
  </p><br>      
    <div  class="container">
          
            <img id="f" src="./assets/Images/pic1.jpg" alt="">
            <img id="f" src="./assets/Images/pic2.jpg" alt="">
            <img id="f" src="./assets/Images/pic3.jpg" alt="">
            <img id="f" src="./assets/Images/pic4.jpg" alt="">
            <img id="f" src="./assets/Images/pic5.jpg" alt="">
          
        
        </div><br>
        <p style="margin-left: 90px;"><b> Certified Instructors and Dieticians to ensure safe and healthy fitness progress.
          Register with us for the ultimate life changing fitness experience!</b>
               </p><br> 
               <div class="card-deck">
                <div class="card" style="width:350px" >
        <ul id="l1" style="margin-left: 30px;" >
          <li>Basic Workout Programs</li><br>
          <li>Personal Trainers</li><br>
          <li>Nutrional Experts</li><br>
          <li>Weights Training</li><br>
          <li>Cardio exercise</li><br>
          <li>Aerobics</li><br>
          <li>Spin classes</li><br>
      </ul>
      </div>

      <div  class="card" style="width:350px" >
        <ul id="l1" style="margin-left: 30px;" >
          <li>Cross fitness training</li><br>
          <li>Personal Trainers</li><br>
          <li>Zumba</li><br>
          <li>Weights Training</li><br>
          <li>Body building programs </li><br>
          <li>Nutrional Experts</li><br>
          <li>Spin classes</li><br>
      </ul>
      </div><br>
      </div>
    
    
  
</body>
</html>