* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  body {
   
    background-color:rgb(250, 245, 245);
    
    display:grid;
    place-items:center;
  }
  #f {
    width: 40%;
    height: 200%;
    object-fit:cover;
    
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }
  .container {
    max-width:600px;
    max-height:350px;
    
    
    
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    
  }
  .container:hover img {
    opacity:0.3;
  }
  .container img:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
  }
  #g{
    width: 80%;
    height: 400px;
  }
  #l1{
    color: rgb(0, 0, 0);
    list-style-type: '\2726';
}
.card{
  
  background-image: url('../../assets/Images/card3.jpg');
  background-size: cover;
}