

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 65, 65);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .banner {
    background-color:rgb(255, 216, 117); color: rgb(8, 8, 8);
    padding: 2px 8px;
    }
    section {
        background-color:rgb(58, 57, 57); margin-top: 7px;
        padding: 5px;
        }
        article {
        background-color:white; margin-top: 3px;
        padding: 5px 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 15px;
        }

          /*search bar */

        .search {
          width: 100%;
          position: relative;
          display: flex;
        }
        .searchTerm {
          width: 100%;
          border: 3px solid #00B4CC;
          border-right: none;
          padding: 15px;
          height: 20px;
          border-radius: 5px 0 0 5px;
          outline: none;
          color: #9DBFAF;
        }

        .searchButton {
          width: 40px;
          height: 36px;
          border: 1px solid #00B4CC;
          background: #00B4CC;
          text-align: center;
          color: #fff;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          font-size: 20px;
        }
        #z{
          padding-top: 8px;
          padding-right: 350px;
        }