<div class="card-deck">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="./assets/Images/gymbag.jpeg" alt="no bag image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Gym bag and Shaker bottle </h4>
          <p class="card-text">The new Gym & Fitness combo Kit</p>
          <a href="#" class="btn btn-primary">Rs. 599</a>
        </div>
    </div>  

    <div class="card" style="width:400px">
        <img class="card-img-top" src="./assets/Images/dumbel 1Kg.jpg" alt="no dumbel image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Light Dumbbells</h4>
          <p class="card-text">Light Dumbbells for High Power</p>
          <a href="#" class="btn btn-primary">Rs. 1,699</a>
        </div>
    </div>

    <div class="card" style="width:400px">
        <img class="card-img-top" src="./assets/Images/bigball.jpg" alt="no big ball image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Gym fitness Ball</h4>
          <p class="card-text">W2601-85cm Gym Ball By Fitness Balls</p>
          <a href="#" class="btn btn-primary">Rs. 1,399</a>
        </div>
    </div>

    <div class="card" style="width:400px">
        <img class="card-img-top" src="./assets/Images/yoga mat.jpeg" alt="yoga mat image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Combo kit yoga mat</h4>
          <p class="card-text">Yogarise Yoga Mat with Free Jump Rope, Bag </p>
          <a href="#" class="btn btn-primary">Rs. 689</a>
        </div>
    </div>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="./assets/Images/flexscale.png" alt="flexscale image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">The Flexscale</h4>
          <p class="card-text">The newly launched The Flexscale 2021 variant</p>
          <a href="#" class="btn btn-primary">Rs. 1,999</a>
        </div>
    </div>
</div><br>

    <div class="card-deck">
        <div class="card" style="width:400px">
            <img id="f" class="card-img-top" src="./assets/Images/tummytrimmer.jpeg" alt="tummytrimmer image" width=100%  height="250px">
            <div class="card-body">
              <h4 class="card-title">tummytrimmer</h4>
              <p class="card-text">DynFIT double spring tummy trimmer</p>
              <a href="#" class="btn btn-primary">Rs. 789</a>
              <p style="color: red;">Combo offer ... hurry up only few left </p>
            </div>
        </div>  

        <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/Images/Orange yoga mat.jpg" alt="Orangemat image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Orangemat</h4>
              <p class="card-text">The new Yoga Mat Orange variant</p>
              <a href="#" class="btn btn-primary">Rs. 1,499</a>
            </div>
        </div>

        <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/Images/Flexbench.jpg" alt="Flexbench image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Flexbench</h4>
              <p class="card-text">The newly launched Flexbench</p>
              <a href="#" class="btn btn-primary">Rs. 15,899 </a>
            </div>
        </div>

        <div class="card" >
            <img id="e" class="card-img-top" src="./assets/Images/printed mens hoody.jpeg" alt="hoody image"  height="250px">
            <div class="card-body">
              <h4 class="card-title">Printed mens hoody-xl Size</h4>
              <p class="card-text">The new printed mens hoody</p>
              <a href="#" class="btn btn-primary">Rs. 999</a>
            </div>
        </div>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/Images/gymvest xl size.jpeg" alt="gymvest xl size image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Gym vest xl size-2021</h4>
              <p class="card-text">The newgymvest xl size 2021 variant</p>
              <a href="#" class="btn btn-primary">Rs. 689</a>
            </div>
        </div>
    </div><br>
    <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/Images/Flexoft Women's Cozy Pullover Hooded Sweatshirt.jpg" alt="Sweatshirt image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Women's Cozy Pullover</h4>
              <p class="card-text">The new Flexofit Women's Cozy Pullover</p>
              <a href="#" class="btn btn-primary">Rs. 1149</a>
            </div>
        </div>  

        <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/Images/Knockout Signature Training T-shirt.jpg" alt="Knockout Signature Training T-shirt image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Knockout Training T-shirt</h4>
              <p class="card-text">The new Knockout Signature Training T-shirt2021 variant</p>
              <a href="#" class="btn btn-primary">Rs. 779</a>
            </div>
        </div>

        <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/Images/Women's High Waist Joggers.jpg" alt="bobber bike image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Women's High Waist Joggers</h4>
              <p class="card-text">The newWomen's High Waist Joggers S/M/L Size</p>
              <a href="#" class="btn btn-primary">Rs. 1259</a>
            </div>
        </div>

        <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/Images/Solid trackpant.jpg" alt="trackpant image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Men's Solid trackpant</h4>
              <p class="card-text">the new Solid trackpant S/M/L/XL Size</p>
              <a href="#" class="btn btn-primary">Rs. 1225</a>
            </div>
        </div>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/Images/Workout T-shirt.jpg" alt="Workout T-shirt image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Workout T-shirt</h4>
              <p class="card-text">The new Workout T-shirt S/M/L/XL Size</p>
              <a href="#" class="btn btn-primary">Rs. 854</a>
            </div>
        </div>
    </div>