<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-2">
            <img class="logo" src="./assets/Images/gymlogo.jpg" alt="no logo">
            </div>
            <div class="col-7" style="background-color: cadetblue;">
            
                <p>
                    <h3><i style="color: rgb(255, 223, 80);">      I hate every minute of training. But i said, don’t quit. Suffer now and live the rest of your life as a champion.

                        </i></h3>
                        <p>... MUHAMMAD ALI ...</p>
            </div>
                <div class="col-3" style="background-color: burlywood;">
                    <img width="70%" height="80%" class="rounded-circle" src="./assets/Images/gif2.gif" alt="no logo">
                </div>
        </div>
    
    </div>
    <marquee style="color: orangered;" behaviour="alternate" direction="right"><h4><i>DO YOUR BEST FORGET THE REST </i><i class="fas fa-fighter-jet"></i></h4></marquee>
    
   <div> <table class="table table-bordered table-striped" >
        <tr>
            <th>Time</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
    
        <tr>
            <th>5:30AM-8:30AM</th>
            <td>Lats Workout</td>
            <td>Biceps Workout</td>
            <td>Chest Exercises</td>
            <td>Shoulder Workout</td>
            <td>Abs Workout</td>
            <td>Legs Workout</td>
        </tr>
        <tr>
            <th>9:00AM-10:00AM</th>
            <td>Chest Exercises</td>
            <td>Shoulder Workout</td>
            <td>Abs Workout</td>
            <td>Legs Workout</td>
            <td>Lats Workout</td>
            <td>Biceps Workout</td>
        </tr>
        <tr>
            <th>5:30PM-6:30PM</th>
            <td>Biceps Workout</td>
            <td>Chest Exercises</td>
            <td>Shoulder Workout</td>
            <td>Abs Workout</td>
            <td>Legs Workout</td>
            <td>Lats Workout</td>
        </tr>
        <tr>
            <th>6:45PM-8:45PM</th>
            <td>Abs Workout</td>
            <td>Legs Workout</td>
            <td>Lats Workout</td>
            <td>Biceps Workout</td>
            <td>Chest Exercises</td>
            <td>Shoulder Workout</td>
        </tr><br> </table>
    
        
        <div class="jumbotron"><h1><i>DIET PLAN:</i></h1>

        <div  class="row">
            <div  class="col-5" >
            <img  id="d" src="./assets/Images/women  with diet food.jpg" alt="no logo">
            </div>
            <div id="e" class="col-7" style="background-color: rgb(174, 204, 211);">
            
            <p>
                <h2>Never skip your breakfast:</h2>
                If you are falling short of time have oats porridge or grab a sandwich on your way or order idli in the office. <br>
                <b>Have small and frequent</b> meals Carry handy foods for mid-morning and afternoon snacks (nuts, fruits, butter milk).<br>
                <b>Cut down on outside foods:</b> Avoid fried and extra sweet foods. While eating outside always order sensible. 
                Order brown bread veg sandwich instead of fried pattice and mayonnaise.
            </div>
        </div><br>

        <div class="row">
            <div class="col-5" >
            <img id="d" src="./assets/Images/bicep pose.jpg" alt="no logo">
            </div>
            <div id="e" class="col-7" style="background-color: cadetblue;">
            
            <p>
                <h2>4 Drinks to Help Replenish After a Workout</h2>
                <b>Water</b> is the best, fastest way to rehydrate after a workout.
                <b>Electrolyte Drinks</b>are minerals that your body needs to function well, including sodium, chloride, potassium, magnesium, and calcium. <br>
                <b>Coconut Water</b>It's a natural source of electrolytes like potassium, sodium, and magnesium. <br>
                <b>Chocolate Milk</b>Chocolate milk is a nutrition powerhouse when it comes to refueling after exercise. <br>
                <b>Vegetable Juice</b> keep your body feeling and working its best.
                <b></b>
                <b></b>

            
            </div>
        </div><br>


        <div class="row">
        <div class="col-5" >
        <img id="d" src="./assets/Images/diet plan2.jpg" alt="no logo">
        </div>
        <div id="e" class="col-7" style="background-color:darkseagreen">
        
        <h2>How to Design Your Daily Meals and Snacks :</h2>
         Have at least three meals a day. ...
         Stay fuller for longer by combining protein (found in the greatest amounts in foods from the milk and meat/beans food groups) with fiber (found in whole grains, vegetables, fruit, and legumes) at every meal and snack. ...
         Conserve calories.Keep carbohydrate intake under x percent 
         Don't eat white starches: white rice, white bread, or white pasta
         Don't eat foods with ingredients that you can't pronounce
        </div>
    </div>
    <br>

    <div class="row">
            <div  class="col-5" >
            <img id="d" src="./assets/Images/Diet plan1.jpg" alt="no logo">
            </div>
            <div id="e" class="col-7" style="background-color: rgb(252, 223, 128);">
            
            <p>
                <h2>What to Eat After a Workout:</h2>
                <b>After:</b> Chicken, Brown Rice, and Veggies
                There’s a reason skinless chicken breast is thought of as a slim-down food: Half of one packs in 27 grams of protein in only 142 calories. It also has a lot of vitamin B-6, a nutrient important for your immune system. 
                Serve it with brown rice and veggies for the right combination of carbs and nutrients.
                Sweet potatoes are a good, nutrient-rich source of carbohydrates, which makes them another go-to post-workout food. Carbs are critical after physical activity.
                
            
            </div>
        </div>
        </div><br>
        
        <!--carousel-->
    <div class="carousel slide container " data-ride="carousel" id="demo"> 
        <!--indicaters-->
            <ul class="carousel-indicators ">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <!--images-->
            <div class="carousel-inner container">
                <div class="carousel-item active container">
                    <img src="./assets/Images/best-motivational-gym-quotes-hd-wallpaper-00233.jpg" alt="no img" width="100%" height="300px">
                    <div class="carousel-caption"></div>
                        
                    
                </div>
                <div class="carousel-item">
                    <img src="./assets/Images/1245048 (2).jpg" alt="no img" width="100%" height="300px">
                    <div class="carousel-caption"></div>
                        
                    
                </div>
                <div class="carousel-item">
                    <img src="./assets/Images/1245192 (3).jpg" alt="no img" width="100%" height="300px">
                    <div class="carousel-caption"></div>
                </div>
            </div>
            
            <!--prev and next-->
        <div><a href="#demo" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#demo" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>